@import "tailwindcss";

@variant dark (&:where(.dark, .dark *));

@layer utilities {
  .animation-delay-2000 {
    animation-delay: 2s;
  }
  .animation-delay-4000 {
    animation-delay: 4s;
  }
}
@layer base {
  body {
    @apply bg-gray-50 text-gray-900 transition-colors duration-300;
  }
  :root.dark body {
    @apply bg-gray-900 text-white;
  }
}
